.contacts {
  margin-bottom: 100px;

  &__info {
    position: relative;
    top: 5git0px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  &__text {
    margin-right: 20px;
  }

  &__icon {
    width: 30px;
  }
}

@media screen and (max-width: 768px){
  .contacts {

    &__info {
      flex-direction: column;
      align-items: center;
    }
  }
}
