.feedback {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 10%;

  &__img {
    max-width: 400px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .feedback {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 0 10%;

    &__img {
      text-align: center;
      width: 285px;
      height: 285px; 
      margin-right: 0;
    }
  }
}
