.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $nav-color;
  height: 80px;

  &__link {
    font-size: 12px;
    color: rgb(44, 44, 44);
    text-decoration: none;
  }

  &__creator {
    margin-top: 5px;
    font-size: 12px;
    color: rgb(44, 44, 44);
  }
}
