.header {
  position: relative;
  height: 750px;

  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 970px;
    z-index: -1;
  }

  &__info {
    
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  
  &__title {
    font-size: 45px;
    font-weight: 700;
    color: rgb(61, 183, 187);
    padding: 20px 0;
  }

  &__bg {
    position: absolute;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url('../images/header_bg.jpg');
    background-size: cover;
    width: 100%;
    height: inherit;
    z-index: -1;
  }
}

@media screen and (max-width: 1024px) {
  .header {

    &__bg {
      background-position: center;
    }

    &__info {
      font-size: 24px;
      max-width: 850px;
      text-align: center;
    }

    &__title {
      font-size: 36px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    height: 650px;

    &__info {
      
      font-size: 18px;
    }
    
    &__title {
      font-size: 28px;
    }
  }
}
