.nav {
  background-color: rgba(0, 0, 0,0.4);
  display: flex;
  justify-content: space-between;
  padding: 0 15%;

  &__logo {
    position: relative;
    left: -150px;
    width: max-content;
    margin: 10px 0;
    z-index: 1;
  }

  &__img {
    width: 60px;
    height: auto;
  }

  &__list {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }

  &__item {
    align-self: center;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(182, 174, 174);
    font-size: 1em;
    position: relative;
    transition: all 0.6s;
    &:before {
        content: "";
        width: 0;
        height: 0.1em;
        position: absolute;
        bottom: 0;
        bottom: -5px;
        left: 50%;
        background-color: $nav-color;
        transition: all 0.3s;
    }
    &:hover {
      color: $nav-color;
        &:before {
            width: 100%;
            left: 0;
            background-color: $nav-color;
        }
    }
  }

  &__phone {
    text-decoration: none;
    font-weight: 600;
    color: rgb(80, 77, 77);
    font-size: 1em;
    background-color: lighten($nav-color,20%);
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s;
    &:hover {
      background-color: $nav-color;
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    &__logo {
      position: static;
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin: 2px 0;
    }
    &__img {
      width: 40px;
      height: auto;
    }
    &__burger {
      align-self: center;
    }
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: -100%;
      left: 0;
      right: 0;
      width: 100%;
      height: 70%;
      padding: 70px 0;
      background-color: rgba(0, 0, 0, 0.9);
      transition: top 0.3s ease;
    }

    &__list_active {
      top: 0;
    }
  }
}
