.section {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:nth-child(odd) {
    background-color: #eee;
  }

  &__title {
    font-size: 42px;
    font-weight: 600;
    margin: 20px auto;
    padding: 30px 10px;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .section {
    &__title {
      font-size: 28px;
    }
  }
}
