/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
  margin: 0 auto;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: relative;
  height: 750px;
}
.header__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 970px;
  z-index: -1;
}
.header__info {
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.header__title {
  font-size: 45px;
  font-weight: 700;
  color: #3db7bb;
  padding: 20px 0;
}
.header__bg {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../images/header_bg.jpg");
  background-size: cover;
  width: 100%;
  height: inherit;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .header__bg {
    background-position: center;
  }
  .header__info {
    font-size: 24px;
    max-width: 850px;
    text-align: center;
  }
  .header__title {
    font-size: 36px;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .header {
    height: 650px;
  }
  .header__info {
    font-size: 18px;
  }
  .header__title {
    font-size: 28px;
  }
}
.nav {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
}
.nav__logo {
  position: relative;
  left: -150px;
  width: max-content;
  margin: 10px 0;
  z-index: 1;
}
.nav__img {
  width: 60px;
  height: auto;
}
.nav__list {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.nav__item {
  align-self: center;
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #b6aeae;
  font-size: 1em;
  position: relative;
  transition: all 0.6s;
}
.nav__link:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  bottom: -5px;
  left: 50%;
  background-color: #609d9f;
  transition: all 0.3s;
}
.nav__link:hover {
  color: #609d9f;
}
.nav__link:hover:before {
  width: 100%;
  left: 0;
  background-color: #609d9f;
}
.nav__phone {
  text-decoration: none;
  font-weight: 600;
  color: #504d4d;
  font-size: 1em;
  background-color: #a0c4c5;
  border-radius: 10px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}
.nav__phone:hover {
  background-color: #609d9f;
}

@media screen and (max-width: 1024px) {
  .nav__logo {
    position: static;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2px 0;
  }
  .nav__img {
    width: 40px;
    height: 45.7px;
  }
  .nav__burger {
    align-self: center;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 70%;
    padding: 70px 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: top 0.3s ease;
  }
  .nav__list_active {
    top: 0;
  }
}
.wrapper {
  margin: 0 auto;
}

.burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
}
.burger__line {
  position: absolute;
  background-color: #b6aeae;
  left: -10px;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: transform 0.2s linear;
}
.burger::before, .burger::after {
  content: "";
  background-color: #b6aeae;
  position: absolute;
  width: 100%;
  height: 2px;
  left: -10px;
  transition: transform 0.2s linear;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger_active .burger__line {
  transform: scale(0);
}
.burger_active::before {
  transform: rotate(45deg);
  top: 9px;
}
.burger_active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
@media screen and (min-width: 1026px) {
  .burger {
    display: none;
  }
}

.section {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section:nth-child(odd) {
  background-color: #eee;
}
.section__title {
  font-size: 42px;
  font-weight: 600;
  padding: 30px 10px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .section__title {
    font-size: 28px;
  }
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 400px;
  height: 200px;
  padding: 20px;
  margin: 30px;
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  transition: transform 0.5s;
}
.services__item:hover {
  transform: scale(1.2);
}
.services__img {
  position: absolute;
  top: 20px;
  width: 30px;
}
.services__text {
  max-width: 400px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
}

@media screen and (max-width: 1024px) {
  .services__item {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .services {
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: stretch;
  }
  .services__text {
    font-size: 14px;
  }
}
.feedback {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 10%;
}
.feedback__img {
  max-width: 400px;
  margin-right: 20px;
}

@media screen and (max-width: 1024px) {
  .feedback {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 0 10%;
  }
  .feedback__img {
    text-align: center;
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
}
.form__label {
  width: 100%;
}
.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  margin: 15px 0;
  color: #609d9f;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}
.form__input::placeholder {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.form__input:focus::placeholder {
  text-indent: -250px;
  transition: text-indent 0.3s ease;
}
.form__input:focus {
  outline: none;
  border: 1px solid #609d9f;
  border-radius: 20px;
}
.form__button {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  padding: 20px;
  max-width: 500px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #609d9f;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}
.form__button:focus {
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
  .form__input {
    width: 100%;
    height: 50px;
    font-size: 14px;
  }
  .form__input::placeholder {
    font-size: 16px;
  }
  .form__button {
    font-size: 14px;
    margin: 10px auto;
    padding: 15px 30px;
  }
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
